/Ejercicio 24 T2/nbproject/private/
/Ejercicio 24 T2/build/
/Ejercicio 25/nbproject/private/
/Ejercicio 25 T2/nbproject/private/
/Ejercicio 25 T2/build/
/Ejercicio 26 T2/nbproject/private/
/Ejercicio 26 T2/build/
/Ejercicio 27 T2/nbproject/private/
/Ejercicio 27 T2/build/
/Ejercicio 32 T2/nbproject/private/
/Ejercicio 32 T2/build/